/* css for homepage*/
.header {
    position: fixed;
    background-color: #f1f1f1;
    padding: 15px;
    text-align: left;
    top:0;
    right:0;
    left:0;
  background-color: #00b3b3;
    height: 20px;
  }
  a:link{
    text-decoration: none;
    color:#f1f1f1;
    font-family: 'Times New Roman', Times, serif;
  }
  a:hover{
    color:black;
  }
  .buttons{
    width:10%;
padding:8px 20px;
display:in-line-block;
border:none;
float:right;


  }

  .button1{
    width:20%;
padding:8px 20px;
margin-top:100px;
display:in-line-block;
border:none;
background-color: #3897f0;
color:white;
cursor:pointer;
border-radius:4px;}
h3{
  font-family: Arial, Helvetica, sans-serif ;
}
  